        <%= stylesheet_link_tag "scenery_comments", :media => "all" %>
<table>
  <tbody>
      <% scenery.scenery_comments.each do |f| %>
      <tr>
        <td>
          <h4><%= f.comment %></h4>
        </td>
        <td>

            <a>
              <span><%= link_to "Destroy", admin_scenery_scenery_comment_path(scenery, f), method: :delete, class: "bttn bttn-border", "data-confirm" => "本当に消しますか?", remote: true %></span>
           </a>

        </td>
      </tr>
      <% end %>
  </tbody>
</table>