<h2>Results index</h2>
<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @sceneries.each do |f| %>
        <tr>
          <td><%= image_tag f.get_scenrery_image %></td>
          <td><%= f.name %></td>
          <td><%= f.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>