  <%# migrateをsceneryにかえて下記をnewに追加 詳しくはhttps://zenn.dev/takuyanagai0213/articles/e2467175bdd5fc %>
  <%#= form_with(model: @post, local: true) do |f| %>
    ・
    ・
 <div class="form-group">
   <%#= f.label :address, '場所' %>
   <%#= f.text_field :address, class: 'form-control' %>
 </div>
    ・
    ・
 <%#= f.submit '投稿する' class: 'btn btn-primary btn-block' %>
