<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
<%= stylesheet_link_tag "homes", :media => "all" %>

    <body id="page-top">
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Sceneries</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">ようこそ、Sceneriesへ！　このサイトは自分で撮った写真をその時の感想と一緒に投稿するサイトです。</h2>
                        <a href="sceneries" class="btn btn-border">Start！</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">概要</h2>
                        <div class="text-white">
                        <p style="text-align: left">
                            このサイトは自分が訪れた場所の写真を投稿するサイトです。<br>
                            このサイトには「ゲストログイン」という簡易的にログインができる機能があります。<br>
                            この機能を使ってもらえると実際に投稿ができるようになります。<br>
                            ですが、それ以外の機能は実際にログインをしないと使えないようになっています。<br>
                            主に使える機能として、<br>
                            ・フォロー機能<br>
                            ・いいね機能(ブックマークとしても使える)<br>
                            ・投稿に対してのコメント機能<br>
                            ・お問い合わせ機能<br>
                            ・ジャンル検索機能<br>
                            以上です。<br>
                            下記は投稿例です
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <section class="projects-section bg-light" id="projects">
            <div class="container px-4 px-lg-5">
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="cool-lg-7">
                        <%= image_tag asset_path("bg-masthead.jpg"), class:"img-fluid mb-3 mb-lg-0" %>
                    </div>
                    <div class="cool-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>いつか行ってみたい山</h4>
                            <p class="text-black mb-0">これは自分が撮った写真ではないです。自分が最初に思ったのはこんなに素敵な場所があるのかでした。</p>
                                                       そして同時に、この写真を撮るにはある程度の条件がいるのだろうとも思いました。
                                                       この写真に限らず素敵な場所に行って実際に見てみたいです。
                            </div>
                    </div>
                </div>
                <!-- Project One Row-->
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="cool-lg-6">
                        <%= image_tag asset_path("IMG_2650.jpg"), class: "img-fluid" %>
                    </div>
                    <div class="cool-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">龍ヶ窪</h4>
                                    <p class="mb-0 text-white">この池は計算上一日ですべての水が入れ替わり決して濁ることがないと言われています。そして、水質だけではなく見た目もとても綺麗で幻想的なのでぜひ行ってみてください</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gx-0 justify-content-center">
                    <div class="cool-lg-6">
                        <%= image_tag asset_path("unnamed.jpg"), class:"img-fluid" %>
                    </div>
                    <div class="cool-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">近所の山</h4>
                                    <p class="mb-0 text-white">散歩をしていると普段気づかないものにも気付ける。<br>
                                                               そして、その綺麗さに気づけたのも心の余裕ができたからだろう。
                                                               家の近くにこんな綺麗な場所があったなんて思わなかった！
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
