<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<div>
<%= form_with model: genre, url: admin_genres_path do |f| %>
<%= f.text_field :genre_name %>
<%= f.submit %>
<% end %>
</div>