<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag "admin_user", :media => "all" %>
<p id="notice"></p>
<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>ユーザー一覧</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th>id</th>
            <th></th>
            <th>名前</th>
          </tr>
        </thead>
        <%= render partial: "admin/users/index", collection: @users, as: 'users' %>
      </table>
      <%= render "kaminari/admin_users_index",  sceneries: @users %>
    </div>
  </div>
</div>