        <%= stylesheet_link_tag "scenery_comments", :media => "all" %>
<table>
  <tbody>
      <% scenery.scenery_comments.each do |f| %>
      <tr>
        <td><%= f.comment %></td>
        <td>
          <% if f.user == current_user %>

<a>
  <span><%= link_to "Destroy", scenery_scenery_comment_path(scenery, f), method: :delete, class: "bttn bttn-border", remote: true %></span>
</a>

          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>