<!DOCTYPE html>
<p id="notice"></p>
　<div calss="row">
    <div class="col-md-8 offset-md-1">
      <h2>いいねした投稿一覧</h2>
<%= render partial: "public/favorites/follower", collection: @favorite_sceneries %></br>
